.prozor{
border: 3px solid dodgerblue;
border-radius: 5px;
padding: 35px;
display:inline-block;
margin: 20px;
width: 200px;
height: 350px;
} 

.broj1{
    padding-right: 180px;
    height: 30px;
    background-color: deepskyblue;
    margin-top:  50px;
    margin-left: -10px;
    
}