.mojklasa {
    background-color: blue;
    font-size: 30px;
}

.mojklasa2{
    background-color: brown;  
    font-size: 40px;  
}
.mojklasa3 {
background-color: chocolate;
font-size: 50px;
border-style: solid;
}

.mojdiv{
    width: 300;
    height: 300;
    background-color: aquamarine;
    padding: 70;
    border: 55 dashed red   beig;
    border-radius: 50px;
display: inline-block;
}

.nestonovo{
    width: 200px;
    height: 200px;
    padding: 30px  40px;
    border: 5px solid chocolate;

    background-color: cornflowerblue;
    
    display: inline-block;
}
.vrhovi{

    width: 200px;
    height: 200px;
    padding:30px 30px ;
    border: 5px solid lightcoral;
background-color: cornflowerblue;
border-style: dashed;
display: inline-block;
}
.prozor{
width: 100px;
height: 100px;

} 