.telo{
    width: 60%;
    margin: 0px;
}



.holder{
    width: 35%;
    height: 100px;
    background-color:white;
    display: flex;
    padding: 20px;
}
.ikona{
    margin: 20px;
    width: 80px;
    height: 27px;
    flex-grow: 1px;
    text-align: center;
    font-size: 15px;
    color: grey;
}
img{
    float: left;
}
.kocka{
    width: 300px;
    height: 250px;
    background-color:rgb(218, 213, 213);
    text-align: center;
    padding: 90px 0px 0px 0px;
}
.kraj{
    text-align: center;
}