*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr 50px;
}
.header{
    width: 100%;
    background-color: green;
     grid-area:sidebar;
    }

 .cont{
     width: 70%;
     height: 50%;
     background-color: gold;

   
   
    }